.background-index {
    background-image: url('../img/image_bc.png');
}

.background-portfolio {
    background-image: url('../img/bg-portfolio.png');
}

.background-skills {
    background-image: url('../img/bg-skills.png');
}

.background-passions {
    background-image: url('../img/bg-passions.png');
}

.background-contact {
    background-image: url('../img/bg-contact.png');
}